input[type="text"], input[type="password"], input[type="int"] {
    height: 30px;
    font-size: 16px;
    width: 100%;
    padding: 5px 8px;
    margin: 5px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
  
#loginApp {
    margin: 5px auto;
    padding: 10px;
    border-style: none;
    border-radius: 1px;
    box-sizing: border-box;
    width: fit-content;
    min-width: 33vw;
    background-color: grey;
    border-radius: 15px;
}

.SmButton {
    min-width: 200px;
}