.HeaderBar, .DropDownList {
  background-color: #25274D;
  display: inline-block;
  width: 100%;
}

.MainMenuHeaderText {
    /* display: inline; */
    color: white;
    float: left;
    position: relative;
    left: 10px;
    margin: auto;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#\/logout {
  background-color: #25274D;
  position: absolute;
  right: 10px;
  top: 0px;
  margin: 7px;
}

/* TODO: Only show user tag when there is space on the screen */
#userTag {
  position: absolute;
  right: 250px;
  top: 13px;
  margin: 5px;
}

.DropDownButton {
  background-color: #25274D;
  margin-left: 20px;
  margin-right: 10px;
  float: left;
  min-width: 200px;
  font-size: 25px;
}

.GameDropDownButton {
  /* position: absolute; */
  left: 50px;
}

.DropDownListButton {
  display: inline-block;
}

.DropDownButton:hover, #\/logout:hover {
  background-color: #2E9CCA;
}