.DesktopHeaderBar, .DropDownList {
  background-color: #25274D;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 40px;
}

.MainMenuHeaderText {
    /* display: inline; */
    color: white;
    float: left;
    position: relative;
    left: 10px;
    margin: auto;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#\/login.DesktopLogout, #\/logout.DesktopLogout {
  background-color: #25274D;
  position: absolute;
  right: 10px;
  top: 0px;
  margin: 7px;
}

#userTag {
  position: absolute;
  right: 250px;
  top: 13px;
  margin: 5px;
}

.DropDownButton {
  background-color: #25274D;
  margin-left: 20px;
  margin-right: 10px;
  float: left;
  min-width: 200px;
  font-size: 25px;
}

.DropDownButton:hover, #\/logout:hover {
  background-color: #2E9CCA;
}

.DropDownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.DropDownList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.DropDownListButton {
  margin-top: 2px;
}