.App {
  text-align: center;
  background-color: #464866;
  min-height: 100vh;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #25274D;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header-Text {
  color: white;
  padding: 0;
  margin: 0px;
}

button {
  background-color: #25274D;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  background-color: #2E9CCA;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}